* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif, sans-serif;
}
:root {
    --primary-color: rgb(191 215 234);
    --secondary-color: rgb(145 174 193);
    --accent1-color: rgb(80 140 164);
    --accent2-color: rgb(0 79 45);
    --logos-height: 20px;
    --logos-width: 20px;
    --heading-font: "Cormorant Garamond", serif, sans-serif;
    --max-width: 200px;
    --max-height: 200px;
}
.topmenu {
    padding-right: 40px;
}
.topnav a {
    color: var(--accent2-color);
}
main {
   background-color: #eaebeb;
}
.topmenu:hover {
    color: var(--primary-color);
    background-color: var(--accent2-color);
}
 header {
    padding: 0;
    display: grid;
    grid-template-columns: 10% 15% 1fr;
    place-items: center;
    background-color: var(--primary-color);
 }
 .logo {
    grid-column: 2/3;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
 }
 .topnav {
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    font-size: 25px;
 }
h1 {
    position: absolute;
    bottom: 130%;
    left: 40%;
    font-family: var(--heading-font);
    color: var(--accent2-color);
}
h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}
p {
    display: block;
    padding: 20px;
    color: var(--accent2-color)
}
a {
    text-decoration: none;
}
 .hero {
    position: relative;
 }
 .heroimg {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    opacity: 50%;
 }
 article {
    position: absolute;
    padding: 2rem;
    bottom: 60%;
    top: 20%;
    display: grid;
    grid-template-columns: 70% 30%;
 }
 article p {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .happyclient {
    order: 1;
    width: 100%;
    height: 100%;

 }
 .history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
 }
 .history1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    grid-row: 1/2;
 }
 .history_image {
    width: 321px;
    height: 237px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .history2 {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    padding: 20px;
 }
 .adventure1 {
    display: grid;
    grid-column: 1/6;
    place-content: center;
 }
 .a1, .a2, .a3, .a4, .a5 {
    display: grid;
    place-content: center;
    width: var(--max-width);
    height: var(--max-height);
    padding-left: 40px;
 }
footer nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-top: solid;
}
 footer p {
    position: absolute;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
 }
 .socialmedialinks a, img {
    width: 2rem;
    height: 2rem;
    padding-right: 4px;
}

/**contact us css rules**/
table {
   border-collapse: collapse;
   border: 2px solid black;
   font-family: sans-serif, serif, 'Times New Roman';
   font-size: 1.5rem;
   letter-spacing: 0.5px;
   padding: 1.5rem;
   margin: auto;
}
th, td {
   border: 0.3rem solid black;
   padding: 1em;
}
.map {
   display: flex;
   justify-content: center;
   padding: 2rem;
}
.title {
   padding: 2rem;
   font-size: 3rem;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 500;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.companytitle {
   position: relative;
   padding: 0;
   left: 0;
   bottom: 0;
}
form {
   background-color: var(--primary-color);
   font-family: 'Courier New', Courier, monospace;
   font-size: 1rem;
   border: 5px solid;
   border-radius: 2rem;
   padding: 1rem;
   width: fit-content;
   margin: auto;
}
button {
   border-radius: 1rem;
   padding: 5px;
   font-weight: 700;
   display: flex;
   justify-self: center;
}
button:hover {
   background-color: aquamarine;
}
textarea {
   width: 100%;
   border-radius: 1rem;
   padding: 1rem;
}
.textarea {
   padding: 0.5rem;
   padding-bottom: 1rem;
}
.name, .emailad, .options {
   padding: 1rem;
}
.purpose {
   padding: 1rem;
   font-size: 1rem;
   color: black;
}
.inquiry, .reservation, .suggestion {
   padding: 0.5em;
}
.subscribe {
   padding: 1rem;
}
.comment {
   padding: 2rem;
}
input [type="text"] {
   height: 1.5em;
   width: 1.5em;
   vertical-align: bottom;
}
input {
   border-radius: 0.5rem;
   font-family: 'Times New Roman', Times, serif;
}
.team {
   display: flex;
   justify-content: center;
   font-family: 'Times New Roman', Times, serif;
   font-size: 5rem;
   padding: 2rem;
}
.chris, .litton, .rhed {
   height: 20rem;
   width: 20rem;
   border-radius: 10rem;
}
.chrisname, .littonname, .rhedname {
   font-family: 'Times New Roman', Times, serif;
   font-size: 2rem;
   color: black;
}
.videographer, .trip, .safety {
   font-style: italic;
   color: black;
}
.chrissection, .littonsection, .rhedsection {
   border: solid;
   width: 350px;
   text-align: center;
   padding: 1rem;
   background-color: #c89898;
}
.employees {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 2rem;
}
.happy-employees {
   display: flex;
   justify-content: center;
}