/* @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --autobackground-color: darkblue;
    --basicalignment-text-alignment: center;
    --default-height: auto;
}

nav {
    background-color: var(--autobackground-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    width: fit-content; /*adjusted the width for a better fit*/
    padding: 20px;
}
/* added design to the buttons/links */
nav a:hover {
    background: aqua;
    color: #000;
}
/* adjusted the position and added space on the left to align text  */
h1 {
    position: relative;
    /* font-family: 'Rock Salt'; */
    left: 2%;
    color: var(--autobackground-color);
    color: rgb(0, 153, 169)

}
main img {
    width: 150px;
    height: var(--default-height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: 0;
    text-align: justify;
}
main {
    max-width: 840px;
}
aside {
    width: 20em;
    text-align: var(--basicalignment-text-alignment);
    position: relative;
}
aside h2 {
    position: absolute;
    top: 15px;
    left: 120px;
}
aside img {
    width: 200px;
    height: var(--default-height);
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--basicalignment-text-alignment);
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
/* added rules to fix spacing on the website */
.spacing p {
    position: relative;
    left: 2%;
}
.spacing img {
    position: relative;
    left: 4%;
}
/* body {
    font-family: Roboto;
} */